/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.pembungkus_kanan{
  display:flex;
  padding-left:1rem;
  justify-content: space-around;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1d1d1d;
  color: #fff;
}

.container--body {
  max-width: 1080px;
  margin: 0 auto;
  background-color: #242424;
}

/* Header */
header {
  /* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  background-color: #1d1d1d;
}

.header--logo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;


}

.header--quote {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 100%;
}

/* Navbar */
nav {
  /* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;


  background-color: #00236c;

  position: sticky;
  top: 0;
  z-index: 999;
  /* supaya di atas konten lain */
}

.ul--navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0;
}

.ul--navbar li {
  padding: 0 1rem;
  border-left: 1px solid #ffff;
  color: white;
  font-size: 1rem;
}

.ul--navbar li:first-child {
  border-left: none;
}

/* Gallery */
.waifu img {
  width: 100%;
  object-fit: cover;
  border: 0.1px solid rgb(255, 255, 255, 0.5);
}

.gif-banner-wrapper {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.gif-banner {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 35%;
  display: block;
  border: none;
}

.gif-banner-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.2);
  
  pointer-events: none;
}

.banner-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8); /* agar teks tetap terbaca di atas gambar */
  pointer-events: none; /* biar overlay ga ganggu interaksi */
}


.waifu,
.anime,
.music {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


  gap: 1rem;
  border: 0.1px solid rgba(112, 112, 112, 0.5);
  padding: 10px;

}

.h3--infosection {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1px solid rgb(255, 255, 255, 0.5);
  font-size: 1rem;
  margin-top: 1rem;
}

.waifu_card h2,
.anime_card h2,
.music_card h2 {
  /* text-align: center; */
  padding-bottom: 0.5rem;
}

.waifu_card {
  border: 0.1px solid rgba(112, 112, 112, 0.5);
  padding: 1rem;
}

/* Footer */
footer {
  background-color: #242424;
  margin-top: 10rem;
  height: 20rem;
}



/* Addon */
.tooltip-custom {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.9);
  transform: translateX(-50%);
  color: white;
  padding: 1rem;
  font-size: 1rem;
  text-align: justify;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  white-space: normal;
  z-index: 1000;
  max-width: 400px;
  /* kamu bisa sesuaikan misalnya 250px atau 200px */
  word-wrap: break-word;
}

.tooltip-custom.visible {
  opacity: 1;
  pointer-events: auto;
}

@media (min-width:540px) {
  .waifu_card p,
  .anime_card p,
  .music_card p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
  }

  /* .gambar_kartu{
    width:200px;
    height:100px;
  } */

}

@media (max-width:400px) {

  .waifu_card p,
  .anime_card p,
  .music_card p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
  }

  .header--quote {
    padding-left: 0.5rem;
    font-size: 3.5vw;
    margin-right: 0.5rem;
  }

}

/* .anime_card {
  background-color: red;
} */



/* Saat hover ke gambar, tampilkan video */
.youtube_card:hover .video-wrapper {
  display: block;
}

html {
  scroll-behavior: smooth;
}

.wrapper_card {
  
  display: flex;
  flex-direction: row;
    border: 0.1px solid rgba(112, 112, 112, 0.5);
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.infolengkap {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
 
  margin: 1rem;
}
.infolengkapbanget {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}
.infotambahan {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.score{
  text-align: center;
}
.scoreteks {
  background-color: #4462a5;
}